{% extends 'base.html' %}
{% load cart %}
{% block title %}
order
{% endblock title %}

{% block content %}
    <div class="container">
        <table class="table table-dark table-striped text-center">
            <tr>
                <th>S.No.</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </tr>
            {% for c in fetch_product %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.product.pro_name}}</td>
                    <td><img src="{{c.product.pro_image.url}}" alt="" height="100px"></td>
                    <td>Rs. {{c.price}}</td>
                    <td>{{c.quantity}}</td>
                    <td>Rs. {{c.price|order_sub_total:c.quantity}}</td>
                    <td><a href="">Delete</a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6"><h3>Payable Amount</h3></td>
                    <td><h4>Rs. {{tp}} </h4></td>                    
                </tr>
                <tr>
                    <td colspan=7>
                        <div id="paypal-button-container"></div>
                    </td>
                </tr>
        </table>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=Ab3E75yUCIT_QTsBj0Yu7eFv0ah3hTkzhVoa1ErAkRwydxX18jssveQvRswuH3BOhDl2Msdx6hxiMdy8&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{tp}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>


{% endblock content %}